In [2]:
import os
import pandas as pd
import numpy as np
import csv
import re

## 对词频进行方差分析

In [4]:
#读入数据
group_1_count = pd.read_csv('D:\my research\group\group_1\group_1_count.csv',encoding='utf-8')
group_1_count.columns = ['0','name','class','count','item']
group_1_count = group_1_count.drop(columns='0')
group_1_count

                              name class   count      item
0    PA 53619 0.012832955222394572    PA   53619  0.012833
1   PE 10543 0.0025233191016189403    PE   10543  0.002523
2     PD 10766 0.00257669102229247    PD   10766  0.002577
3   PH 104104 0.024915831523753974    PH  104104  0.024916
4   PG 12559 0.0030058204113850204    PG   12559  0.003006
5    PB 37408 0.008953079858992822    PB   37408  0.008953
6   PK 15384 0.0036819445185721123    PK   15384  0.003682
7    NA 3532 0.0008453346359592239   NaN    3532  0.000845
8   NB 17377 0.0041589411010938375    NB   17377  0.004159
9    NJ 7032 0.0016830105209697797    NJ    7032  0.001683
10   NH 3390 0.0008113489286245099    NH    3390  0.000811
11   PF 7013 0.0016784631375940083    PF    7013  0.001678
12   NI 4796 0.0011478552984316075    NI    4796  0.001148
13  NC 15342 0.0036718924079519855    NC   15342  0.003672
14   NG 999 0.00023909663117872723    NG     999  0.000239
15  NE 24220 0.0057967171242730466    NE   24220  0.005797
16  ND 13220 0.0031640214856684425    ND   13220  0.003164
17    NN 62764 0.01502168264194358    NN   62764  0.015022
18    NK 178 4.260180215196542e-05    NK     178  0.000043
19  NL 1802 0.00043128341279686334    NL    1802  0.000431
20   PC 3361 0.0008044081855772795    PC    3361  0.000804
21   MH 57533 0.013769716197803518    MH   57533  0.013770
22  MS 17620 0.0042170997411102844    MS   17620  0.004217
23   MA 5191 0.0012423930054542274    MA    5191  0.001242
24   MD 8554 0.0020472798629657986    MD    8554  0.002047
25  ME 10644 0.0025474920343006736    ME   10644  0.002547
26                         P 0 0.0     P       0  0.000000
27                         N 0 0.0     N       0  0.000000
28                        Ne 0 0.0    Ne       0  0.000000

In [5]:
group_2_count = pd.read_csv('D:\my research\group\group_2\group_2_count.csv',encoding='utf-8')
group_2_count.columns = ['0','name','class','count','item']
group_2_count = group_2_count.drop(columns='0')
group_2_count

                             name class  count      item
0   PA 42322 0.017533146520796013    PA  42322  0.017533
1    PE 5753 0.002383351257836101    PE   5753  0.002383
2    PD 5278 0.002186568388468441    PD   5278  0.002187
3    PH 61592 0.02551631682124824    PH  61592  0.025516
4     PG 7413 0.00307105560131045    PG   7413  0.003071
5   PB 23131 0.009582704318617566    PB  23131  0.009583
6   PK 7217 0.0029898567752134784    PK   7217  0.002990
7   NA 1789 0.0007411464279973553   NaN   1789  0.000741
8    NB 8999 0.003728103245135942    NB   8999  0.003728
9   NJ 3521 0.0014586789116705914    NJ   3521  0.001459
10  NH 1976 0.0008186167365694656    NH   1976  0.000819
11  PF 4336 0.0017963168875329975    PF   4336  0.001796
12  NI 1947 0.0008066026245449137    NI   1947  0.000807
13   NC 7298 0.003023413432937227    NC   7298  0.003023
14  NG 546 0.00022619672984156285    NG    546  0.000226
15  NE 13022 0.005394750578748776    NE  13022  0.005395
16  ND 7990 0.0033100950026265334    ND   7990  0.003310
17  NN 37253 0.015433162594849344    NN  37253  0.015433
18   NK 127 5.261352507303752e-05    NK    127  0.000053
19  NL 1007 0.0004171796830594392    NL   1007  0.000417
20   PC 2081 0.000862116107692843    PC   2081  0.000862
21  MH 39760 0.016471761865385605    MH  39760  0.016472
22    MS 9920 0.00410965487184671    MS   9920  0.004110
23  MA 3563 0.0014760786601199422    MA   3563  0.001476
24  MD 5518 0.0022859955224647324    MD   5518  0.002286
25   ME 6721 0.002784374031621143    ME   6721  0.002784
26                        P 0 0.0     P      0  0.000000
27                        N 0 0.0     N      0  0.000000
28                       Ne 0 0.0    Ne      0  0.000000

In [6]:
group_3_count = pd.read_csv('D:\my research\group\group_3\group_3_count.csv',encoding='utf-8')
group_3_count.columns = ['0','name','class','count','item']
group_3_count = group_3_count.drop(columns='0')
group_3_count

                             name class  count      item
0     PA 39199 0.0159015345372292    PA  39199  0.015902
1   PE 5523 0.0022404697887475926    PE   5523  0.002240
2    PD 5602 0.002272517066189392    PD   5602  0.002273
3   PH 70405 0.028560614788479856    PH  70405  0.028561
4   PG 9486 0.0038481072634545827    PG   9486  0.003848
5    PB 25375 0.01029366664665402    PB  25375  0.010294
6   PK 6897 0.0027978490191910457    PK   6897  0.002798
7   NA 2211 0.0008969181066306223   NaN   2211  0.000897
8   NB 10341 0.004194948050957605    NB  10341  0.004195
9   NJ 3713 0.0015062220397645864    NJ   3713  0.001506
10  NH 2486 0.0010084750850672668    NH   2486  0.001008
11  PF 3836 0.0015561184337562492    PF   3836  0.001556
12  NI 2222 0.0009013803857680881    NI   2222  0.000901
13   NC 7801 0.003164567231942779    NC   7801  0.003165
14  NG 673 0.00027301035086495196    NG    673  0.000273
15  NE 13078 0.005305244232707046    NE  13078  0.005305
16  ND 10290 0.004174259302229355    ND  10290  0.004174
17  NN 42109 0.017082010199958784    NN  42109  0.017082
18    NK 211 8.55946270913891e-05    NK    211  0.000086
19   NL 1085 0.000440142987650034    NL   1085  0.000440
20  PC 2053 0.0008328235517470229    PC   2053  0.000833
21  MH 39267 0.015929119535533533    MH  39267  0.015929
22  MS 10914 0.004427392227845595    MS  10914  0.004427
23  MA 3951 0.0016027695338297551    MA   3951  0.001603
24  MD 4613 0.0018713176055572412    MD   4613  0.001871
25   ME 7076 0.002870462470609807    ME   7076  0.002870
26                        P 0 0.0     P      0  0.000000
27                        N 0 0.0     N      0  0.000000
28                       Ne 0 0.0    Ne      0  0.000000

In [9]:
group_count = pd.DataFrame()
group_count['class'] = group_1_count['class']
group_count['group_1'] = group_1_count['item']
group_count['group_2'] = group_2_count['item']
group_count['group_3'] = group_3_count['item']
group_count

   class   group_1   group_2   group_3
0     PA  0.012833  0.017533  0.015902
1     PE  0.002523  0.002383  0.002240
2     PD  0.002577  0.002187  0.002273
3     PH  0.024916  0.025516  0.028561
4     PG  0.003006  0.003071  0.003848
5     PB  0.008953  0.009583  0.010294
6     PK  0.003682  0.002990  0.002798
7    NaN  0.000845  0.000741  0.000897
8     NB  0.004159  0.003728  0.004195
9     NJ  0.001683  0.001459  0.001506
10    NH  0.000811  0.000819  0.001008
11    PF  0.001678  0.001796  0.001556
12    NI  0.001148  0.000807  0.000901
13    NC  0.003672  0.003023  0.003165
14    NG  0.000239  0.000226  0.000273
15    NE  0.005797  0.005395  0.005305
16    ND  0.003164  0.003310  0.004174
17    NN  0.015022  0.015433  0.017082
18    NK  0.000043  0.000053  0.000086
19    NL  0.000431  0.000417  0.000440
20    PC  0.000804  0.000862  0.000833
21    MH  0.013770  0.016472  0.015929
22    MS  0.004217  0.004110  0.004427
23    MA  0.001242  0.001476  0.001603
24    MD  0.002047  0.002286  0.001871
25    ME  0.002547  0.002784  0.002870
26     P  0.000000  0.000000  0.000000
27     N  0.000000  0.000000  0.000000
28    Ne  0.000000  0.000000  0.000000

## 对生活满意度进行方差分析

In [10]:
group_1_score = pd.read_csv('D:\my research\group\group_1\group_1_score.csv',encoding='utf-8')
group_1_score.columns = ['0','id','content','score']
group_1_score = group_1_score.drop(columns='0')
group_1_score

               id                                            content     score
0      1818394624  拿到 正片 惊呆  太强  这才 诚 可欺 宝石 瞳 滤镜  真实 璀璨 度  超级 王炸 ...  0.610844
1      7463206912  翻 多年  瑜伽 垫 折腾 今日 开 荤    佩服 下午 不该 醒    疫情 只能 靠着...  0.612646
2      2819162115  发布 宣克炅   疫情 疫情 求助   帮忙 转   感恩  真的 办法 眼见 生命 流逝 ...  0.632875
3      7479558149   买 东西 精打细算 打好 东西  元 叉腰 点 结算  元  元 邮费  元 快乐 手作 ...  0.620492
4      2151317510  曾江 黄药师 曾江 去世   邪 中 三分 正 正中 总带 七分 邪  一条  风格 抹杀 ...  0.606102
...           ...                                                ...       ...
11751  2859433970  两区 首日 社会 面 清零 目标 内个 想 问 平时 金山 崇明 这俩 地当  一个多月 抗...  0.553923
11752  3969679346  核酸   疫情   周浦 万达 广场  疫情       居家    晒 东西   健康 打...  0.609953
11753  3155525622  疫情 封在 家里 断 粮 吃不上 饭 饿 不行 羡慕 送往 隔离 点 小阳们 伙食 在线 上...  0.589504
11754  5963448310  明天 六点 抢菜 不到 八点 睡 醒 睡不着 夜 漫长 想 喝 排骨汤   超级 想念 疫情...  0.606425
11755  6406373366  今日 份 天台   运动 ⃣  天 外面 风太大 在家 锻炼 跟着 刘耕宏   锻炼  一个...  0.613214

[11756 rows x 3 columns]

In [11]:
group_2_score = pd.read_csv('D:\my research\group\group_2\group_2_score.csv',encoding='utf-8')
group_2_score.columns = ['0','id','content','score']
group_2_score = group_2_score.drop(columns='0')
group_2_score

              id                                            content     score
0     1818394624  喜欢 眼睛  𝟐 𝟎 𝟐 𝟐 最火  王炸 混血 新生代 野 茉莉 到货   全网 现象 级...  0.627130
1     7463206912  见面  好长时间 牵挂 思念 满满  好久没 出门 好久没 坐车 好久没 吃 肉   夜太美...  0.644121
2     7479558149  买到 头  钩 固定 体子 自带 脖卡  钩 这件 事 两块 眼泥 搓 成团 塞 头 卡  ...  0.609893
3     2151317510   天 假期 结束 悠长 假期 结束    希桑  屌丝 逆袭     旋律 真的    希桑...  0.651726
4     3665330182                            想吃哥 老官           年 夏天    0.611775
...          ...                                                ...       ...
9908  2859433970  每周 全民 核酸 真的 栓   恁 啄米  想 拍 类似 图 写真    男孩子 喜欢 电子...  0.653157
9909  3969679346  买 膏药 凑 单买 云南白药   摔 一跤 正好  复工 第一天   打卡 上下班 快乐 月...  0.631223
9910  3155525622  听 隆隆 鞭炮声 妖魔鬼怪 仓惶 逃窜 病毒 魂飞魄散 疫情 解封 陈紫函  急需 核酸 检...  0.611775
9911  5963448310  分享   人民法院 报   头条 文章 单位 利益 职工 下班 工作 占用 时间 工作 事项...  0.611775
9912  6406373366  昨天 螺狮粉 火锅 晚上 偷懒 锻炼 导致 体重 暴增 深刻 检讨 刘畊宏 女孩   我来 ...  0.617969

[9913 rows x 3 columns]

In [12]:
group_3_score = pd.read_csv('D:\my research\group\group_3\group_3_score.csv',encoding='utf-8')
group_3_score.columns = ['0','id','content','score']
group_3_score = group_3_score.drop(columns='0')
group_3_score

              id                                            content     score
0     1818394624  做 两个 颈椎 不行         拼豆  六年 没玩 拼豆     做 蜡笔小新 恐龙 ...  0.606426
1     7463206912  面包 爱情 选择  情侣 之间 分寸 感有    昨天 做梦 梦到 心宝 想 爸爸妈妈 游乐...  0.625020
2     7479558149   救命 我友 找到 温馨 可爱 小游戏 验证 老贼 画风 适合  化   梦冰兰   好多 ...  0.596263
3     2151317510  英格兰 女足 足球 回家 不愧 欧洲 中国队 女足 带来 快乐 永远 大于 男足 年底 世界...  0.676551
4     3665330182  早 续命     社畜 日常     个性 图标 清凉 泳池 年费 会员 专属 个性 图标 ...  0.611775
...          ...                                                ...       ...
9849  2859433970  跌倒 烧烤  机车 艾     妮 顆拉岛 芭  沙漠 孤狼  金山 事件   宣传科 周六...  0.590444
9850  3969679346                             冰棍 绝配  毛毛 球 夏天  麻花 辫    0.611775
9851  3155525622  限 户籍 限 地域  岁 接种 新冠 疫苗 超高 补贴 一针 二针 三针 接种 点私 提前 ...  0.595904
9852  5963448310  论王 律师 干 事 早上 点钟 出门 先 启东市 仲裁委 开庭 赶去 昆山 当事人 认定 工...  0.616918
9853  6406373366  早    重庆 重庆 维景 国际 大酒店    久违 出远门   虹桥 国际 机场  刘畊宏...  0.623750

[9854 rows x 3 columns]